body {
	width: 80%;
	max-width: 700px;
	margin: 0 auto 100px;
	padding-top: 20px;
}

a {
	color: $linkColor;
}

.page-title {
	text-align: center;
	font-size: 38px;
	margin-bottom: 30px;
	line-height: 100%;
}

img.author {
	border: 3px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	display: block;
	margin: 0 auto 30px;
}

img { 
	max-width: 98%;
}

ul {
	list-style-type: square;
}

p{
	text-align: center;
}

h2 {
	border-bottom-style: solid;
}

.section{
	margin-bottom: 30px;

	p,ul{
		margin-bottom: 0;
	}

	h2{
		margin-top: 0;
	}
}