$brandColor: #B00000;
$textColor: #191919;
$textColorLight: #aeaeae;

$highlightColor: #f8f2c6;

$linkColor: $brandColor;
$linkColorHover: $brandColor;
$linkColorVisited: $brandColor;

$baseFontSize: 16px;
$baseLineHeight: 140%;
$baseFontFamily: "Open Sans", sans-serif;
$headlineFontFamily: $baseFontFamily;
$displayFontFamily: $baseFontFamily;
$plainFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;