$brandColor: #C43F48;
$textColor: #333;
$textColorLight: #AEAEAE;

$highlightColor: #f8f2c6;

$linkColor: $brandColor;
$linkColorHover: $brandColor;
$linkColorVisited: $brandColor;

$baseFontSize: 16px;
$baseLineHeight: 150%;
$baseFontFamily: "Open Sans", sans-serif;
$headlineFontFamily: $baseFontFamily;
$displayFontFamily: $baseFontFamily;
$plainFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;